/*body {
  background: url('img/city.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}*/

.background {
	background: url('img/city.jpg') no-repeat 50% 50% fixed; 
	position: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	z-index: -5;

	display: block;
	width: 100vw;
	height: 100vh;

  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

.blur {
	/*background: url('img/city.jpg') no-repeat 50% 50% fixed; 
	position: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	z-index: -5;

	display: block;
	width: 100vw;
	height: 100vh;*/

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); 
}

.main-section {
	list-style-type: none;
    z-index:-1;
    position:fixed;
    bottom: 0;
}

a {
	color: white;
}


#userNav {
    width: 80vw;
    height: 100vh;
    display: none;
    background: white;
    z-index:999;
}