body {
  background: url('img/bg.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


#userNav {
    width: 200px;
    height: 200px;
    display: none;
    background: white;
}